

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.landing-backdrop-color {
  background-color: #243342;

}

.navbar-fixed-top {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

body { padding-top: 70px; }

#landing {
}

#welcome {
	background: url("../images/tweed.png");
	color: #ecf0f1;
}

#theoffice {
	background-color: #bdc3c7;
	color: #34495e;
}




